.comment-detail {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.file-input {
    margin-top: 10px;
}

textarea {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    width: 100%;
}

button {
    padding: 8px 16px;
    background-color: #deefaf;
    color: rgb(43, 44, 32);
    border-radius: 4px;
    cursor: pointer;
}
